<div class = "container">
  <h1>About</h1>
	<div class="row">
		<div class="col-md-6 col-xs-12">  
      <%= image_tag("papa.jpg", class: "img-responsive")%>
    </div><!--end col-->
    <div class="col-md-6 col-xs-12">
      <div class= "aboutinfo">
        <p>My grandpa is a fixit kind of guy, a total handyman. After doing a number of home renovations he had a bunch of wood left over. Some hard wood flooring, and some general scrap
  so he decided to start making rings with it. After all our family had one ring per finger and toe, he decided to branch out making them for friends, aquaintances, neighbours and strangers.
        </p>
        <p>
   My grandpa likes making them and he's run out of people to make them for. We hope you like them. 
       </p>
      </div>
    </div>
  </div><!--end row-->
</div>
