/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
}
html, body {
  height: 100%;

}

/*Navigation Bar*/

.navbar {
  z-index: 1;
  background-color: #F46524;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar a {
  color:#FFF !important;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}

.navbar a:hover {
  color: #000 !important;
  text-decoration: none;
}
.page-wrap {
  min-height: 100%;
  margin-top: 90px;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}

/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #dbdbdb;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

h1, h2, h3 {
 text-align: center;
 font-family: 'Roboto Condensed', sans-serif;
}

.site-footer, .page-wrap:after {
  height: 142px; 
}
.site-footer {
  background: black;
  color: white;
  text-align: center;
}